.booking-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);

  @include respond-to ("mobile") {
    transform: translateX(-150%);
  }
}

.booking-modal--open {
  display: flex;
  transform: translateX(0);
}

.booking-modal__container {
  position: relative;
  margin: auto;
  width: 1440px;

  @include respond-to ("desktop") {
    width: 1024px;
  }
}
