.footer {
  padding-top: 75px;
  color: $color-white;
  background-color: $color-black;

  @include respond-to ("desktop") {
    padding-top: 60px;
  }
}

// .footer__info-page {}

// .footer__info-developer {}
