.form-ticket {
  color: $color-black;
  background-color: $color-white;
}

.form-ticket__button-close {
  margin: 0;
  padding: 0;
  border: none;

  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  background-image: url("../../icons/stack.svg#ticket-close");
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-white;
}

.form-ticket__wrapper {
  display: flex;
  gap: 40px;
}

.form-ticket__wrapper-one {
  width: 400px;
}

.form-ticket__wrapper-two {
  width: 530px;
}

// .form-ticket__filter-group {}

// .form-ticket__title {}

// .form-ticket__label {}

// .form-ticket__date {}

// .form-ticket__time {}

// .form-ticket__name {}

// .form-ticket__e-mail {}

// .form-ticket__phone {}

// .form-ticket__ticket-type {}

// .form-ticket__entry-title {}

// .form-ticket__entry-list {}

// .form-ticket__entry-item {}

// .form-ticket__control-entry {}

// .form-ticket__entry-wrapper {}

// .form-ticket__decrease {}

// .form-ticket__decrease--color {}

// .form-ticket__input-basic-entry {}

// .form-ticket__increase {}

// .form-ticket__increase--color {}

// .form-ticket__inner-one {}

// .form-ticket__inner-info-ticket {}

// .form-ticket__content-inner {}

// .form-ticket__secondary-title {}

// .form-ticket__text {}

// .form-ticket__data-ticket-list {}

// .form-ticket__data-item {}

// .form-ticket__ticket-picture {}

// .form-ticket__inner-price-ticket {}

// .form-ticket__price-list {}

// .form-ticket__price-list {}

// .form-ticket__price-item {}

// .form-ticket__price-count {}

// .form-ticket__price-name {}

// .form-ticket__price-sum {}

// .form-ticket__total-text {}

// .form-ticket__total-sum {}

// .form-ticket__inner-two {}

// .form-ticket__label-card {}

// .form-ticket__input-card {}

// .form-ticket__date-card-group {}

// .form-ticket__date-card-group-title {}

// .form-ticket__field-row {}

// .form-ticket__field-row-one {}

// .form-ticket__input-date-card {}

// .form-ticket__toggle-button {}

// .form-ticket__button-up {}

// .form-ticket__button-down {}

// .form-ticket__field-row-two {}

// .form-ticket__input-year-card {}

// .form-ticket__button-year-up {}

// .form-ticket__button-year-down {}

// .form-ticket__label-name-card {}

// .form-ticket__input-name-card {}

// .form-ticket__icon-container {}

// .form-ticket__icon-visa {}

// .form-ticket__icon-master {}

// .form-ticket__inner-three {}

// .form-ticket__black-square {}

// .form-ticket__label-cv {}

// .form-ticket__input-cv {}

// .form-ticket__card-cvc-text {}

// .form-ticket__submit {}
