.gallery {
  position: relative;
  padding-top: 75px;

  height: 2202px;
  overflow: hidden;

  color: $color-white;
  background-color: $color-black;

  @include respond-to ("desktop") {
    padding-top: 60px;

    height: 1460px;
  }

  @include respond-to ("tablet") {
    padding-top: 40px;

    height: 1220px;
  }

  @include respond-to ("mobile") {
    height: 757px;
  }
}

.gallery::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 360px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

  pointer-events: none;
  z-index: 2;

  @include respond-to ("desktop") {
    height: 239px;
  }

  @include respond-to ("tablet") {
    height: 235px;
  }
}

.gallery__title {
  margin-bottom: 75px;

  @include respond-to ("desktop") {
    margin-bottom: 60px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 40px;
  }
}

.gallery__list {
  column-count: 3;
  column-gap: 36px;

  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  height: auto;

  @include respond-to ("desktop") {
    column-gap: clamp(28px, calc(28px + (36 - 28) * (100vw - 880px) / (1024 - 880)), 36px);
  }

  @media (max-width: 880px) {
    column-count: 2;
    column-gap: clamp(24px, calc(24px + (28 - 24) * (100vw - 768px) / (880 - 768)), 28px);
  }

  @include respond-to ("tablet") {
    column-count: 2;
    column-gap: 24px;
  }
}

.gallery__item {
  break-inside: avoid;
  margin-bottom: 24px;
}

.gallery__item--js {
  opacity: 0;
  transform: translateY(80px);
  transition-property: opacity, transform;
  // transform: scale(0.8);
  transition-duration: 0.8s, 1.2s;
  transition-timing-function: ease-out, cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  @include respond-to ("tablet") {
    transform: translateY(60px);
    // transform: scale(0.7);
  }

  @include respond-to ("mobile") {
    transform: translateY(40px);
    // transform: scale(0.6);
  }
}

.gallery__item--animated {
  opacity: 1;
  transform: translateY(0);
  // transform: translate(1.1);
}

.gallery__item:nth-child(1),
.gallery__item:nth-child(11) {
  padding-top: 50px;
}

.gallery__item-picture {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
