.info-developer {
  font-weight: 200;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: $color-white;
  background-color: $color-black;
}

.info-developer__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to ("tablet") {
    padding-top: 39px;
    padding-bottom: 39px;
  }
}

.info-developer__copyright {
  margin: 0;

  @include respond-to ("mobile") {
    font-weight: 200;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: 0.13em;
  }
}

.info-developer__school,
.info-developer__name {
  display: block;
  color: $color-white;
  text-decoration: none;
}

.info-developer__school {
  margin-left: 75px;
  text-transform: capitalize;

  @include respond-to ("mobile") {
    display: none;
  }
}

.info-developer__school:hover,
.info-developer__name:hover {
  color: $color-gold;
}

.info-developer__school:active,
.info-developer__name:active {
  color: $color-gold-light;
}
