.item-card {
  font-family: $basic-family;
  font-weight: 200;
  color: $color-black;

  transition: opacity 0.3s ease;
}

.item-card__link {
  color: $color-black;
}

.item-card__picture {
  display: block;
  width: 100%;
  height: auto;
  max-width: 440px;

  @media (max-width: 1688px) {
    max-width: 440px;
  }

  @include respond-to ("desktop") {
    max-width: 330px;
  }

  @include respond-to ("tablet") {
    max-width: 280px;
  }
}

.item-card__title {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 22px;

  font-family: $secondary-family;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  @media (max-width: 1190px) {
    font-size: 28px;
    letter-spacing: 0.11em;
  }

  @include respond-to ("tablet") {
    font-size: 22px;
    letter-spacing: 0.14em;
  }

  @include respond-to ("mobile") {
    font-size: 18px;
    letter-spacing: 0.28em;
  }
}

.item-card__title::before {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 0;
  background-color: $color-red-dark;

  transition: width 0.4s ease-in-out;

  @media (max-width: 1688px) {
    width: clamp(150px, calc(150px + (300 - 150) * (100vw - 1024px) / (1688 - 1024)), 300px);
  }

  @include respond-to ("desktop") {
    width: 150px;
  }

  @include respond-to ("mobile") {
    bottom: -14px;
  }
}

.item-card__link:hover .item-card__title::before {
  width: 100%;
}

.item-card__secondary-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 22px;
  text-transform: capitalize;

  @include respond-to ("desktop") {
    font-weight: 100;
    font-size: 20px;
  }

  @include respond-to ("tablet") {
    font-size: 18px;
  }

  @include respond-to ("mobile") {
    font-size: 16px;
  }
}

.item-card__label {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;

  @include respond-to ("desktop") {
    font-weight: 200;
    font-size: 16px;
  }

  @include respond-to ("tablet") {
    font-weight: 100;
  }
}

.item-card:hover .item-card__title,
.item-card:hover .item-card__secondary-title,
.item-card:hover .item-card__label {
  color: $color-gold;
}

.item-card:active .item-card__title,
.item-card:active .item-card__secondary-title,
.item-card:active .item-card__label {
  color: $color-gold-dark;
}

.item-card:hover .item-card__picture {
  opacity: 0.6;
}

.item-card:active .item-card__picture {
  opacity: 0.3;
}
