.main-navigation {
  color: $color-white;
  background-color: $color-black;
}

.main-navigation__logo-link {
  padding-top: 59px;
  padding-bottom: 58px;
  display: block;
  width: 199px;

  color: $color-white;

  @include respond-to ("desktop") {
    padding-top: 49px;
    padding-bottom: 48px;
    width: 189px;
  }
}

.main-navigation__logo-link-img {
  display: block;
  width: 199px;
  height: 33px;

  @include respond-to ("desktop") {
    width: 189px;
  }
}

.main-navigation__logo-link:hover {
  color: $color-gold;
}

.main-navigation__logo-link:active {
  color: $color-gold-light;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 55px;

  @include respond-to("desktop") {
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 3;

    flex-direction: column;
    align-items: flex-start;
    gap: 25px 0;

    padding: 35px 120px 280px 55px;
    background-color: $color-black;
    transition: transform 0.5s ease-in-out;
  }
}

.main-navigation__list--close {
  @include respond-to("desktop") {
    width: 305px;
    transform: translate(-100%);
  }
}

.main-navigation__list--open {
  @include respond-to("desktop") {
    transform: translate(0);
  }
}

.main-navigation__item {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.09em;
  color: $color-white;

  @include respond-to("desktop") {
    position: relative;
    width: 122px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

.main-navigation__item:nth-child(4) {
  margin-right: 6px; // подогнал под PP список навигации
}

.main-navigation__item-link {
  display: block;
  max-width: 125px;
  padding-top: 62px;
  padding-bottom: 62px;
  color: $color-white;
  overflow-wrap: break-word;
  word-break: break-all;

  @include respond-to ("desktop") {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-navigation__item-link::before {
  @include respond-to("desktop") {
    content: "";
    width: 12px;
    height: 12px;

    position: absolute;
    top: 7px;
    left: 110px;

    background-color: $color-white;
    mask-image: url("../../icons/stack.svg#arrow-burger-menu");
    mask-position: center;
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
  }
}

.main-navigation__item-link:hover {
  color: $color-gold;
}

.main-navigation__item-link:hover::before {
  background-color: $color-gold;
}

.main-navigation__item-link:active {
  color: $color-gold-light;
}

.main-navigation__item-link:active::before {
  background-color: $color-gold-light;
}
