.main-navigation {
  color: $color-white;
  background-color: $color-black;
}

.main-navigation__logo-link {
  margin-right: auto;
  padding-top: 59px;
  padding-bottom: 58px;
  display: flex;
  gap: 25px;
  // width: 199px;

  color: $color-white;

  @include respond-to ("desktop") {
    padding-top: 49px;
    padding-bottom: 48px;
    // width: 200px;
  }

  @include respond-to ("tablet") {
    padding-top: 35px;
    padding-bottom: 34px;
    // width: 199px;
  }

  @include respond-to ("mobile") {
    padding-bottom: 35px;
  }
}

.main-navigation__logo-img {
  display: block;
  width: 49px;
  height: 26px;
  align-self: flex-start;

  // @include respond-to ("desktop") {
  //   width: 189px;
  // }

  @include respond-to ("tablet") {
    margin-top: -7px;
    width: 49px;
    align-self: center;
  }

  @include respond-to ("mobile") {
    margin-top: 2px;
    width: 29px;
    height: 16px;
    align-self: start;
  }
}

.main-navigation__logo-text {
  padding-top: 2px;
  display: inline-block;
  font-weight: 400;
  font-family: $secondary-family;
  font-size: 28px;

  letter-spacing: 0.18em;
  text-transform: uppercase;

  @include respond-to ("tablet") {
    line-height: 168%;
  }

  @include respond-to ("mobile") {
    font-size: 16px;
    letter-spacing: 0.31em;
    line-height: 149%;
  }
}

.main-navigation__logo-link:hover {
  color: $color-gold;
}

.main-navigation__logo-link:active {
  color: $color-gold-light;
}

.main-navigation__wrapper {
  @include respond-to ("desktop") {
    width: 305px;
    height: auto;
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 3;
    background-color: $color-black;
    transition: transform 0.5s ease-in-out;
  }

  @include respond-to ("tablet") {
    top: 110px;
    width: 100%;
    min-height: 861px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.main-navigation__wrapper--close {
  @include respond-to("desktop") {
    transform: translate(-100%);
  }

  @include respond-to ("mobile") {
    transform: translate(-175%);
  }
}

.main-navigation__wrapper--open {
  @include respond-to("desktop") {
    transform: translate(0);
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 55px;

  @include respond-to("desktop") {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px 0;

    padding: 25px 120px 280px 55px;
    background-color: $color-black;
  }

  @include respond-to ("tablet") {
    width: 658px;
    margin: 0 auto;
    padding: 0;
  }
}

.main-navigation__item {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.09em;
  color: $color-white;

  @include respond-to("desktop") {
    position: relative;
    width: 122px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

.main-navigation__item:nth-child(4) {
  margin-right: 6px; // подогнал под PP список навигации
}

.main-navigation__item-link {
  display: block;
  max-width: 125px;
  padding-top: 62px;
  padding-bottom: 62px;
  color: $color-white;
  overflow-wrap: break-word;
  word-break: break-all;

  @include respond-to ("desktop") {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-navigation__item-link::before {
  @include respond-to("desktop") {
    content: "";
    width: 12px;
    height: 12px;

    position: absolute;
    top: 7px;
    left: 110px;

    background-color: $color-white;
    mask-image: url("../../icons/stack.svg#arrow-burger-menu");
    mask-position: center;
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
  }
}

.main-navigation__item-link:hover {
  color: $color-gold;
}

.main-navigation__item-link:hover::before {
  background-color: $color-gold;
}

.main-navigation__item-link:active {
  color: $color-gold-light;
}

.main-navigation__item-link:active::before {
  background-color: $color-gold-light;
}


.main-navigation__gallery-list {
  display: none;

  @include respond-to ("tablet") {
    position: relative;
    width: 100%;
    max-width: 658px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
  }
}

.main-navigation__gallery-list::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -31px;
  left: 0;
  right: 55px;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-navigation__burger-social-list {
  display: none;

  @include respond-to ("tablet") {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    max-width: 340px;
    list-style: none;
    display: flex;
    gap: 23px;
  }
}

.main-navigation__burger-social-item {
  border: 1px solid #666666;
  border-radius: 50%;
}

.main-navigation__burger-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $color-white;
  mask-size: 24px 24px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.main-navigation__burger-social-link--youtube {
  mask-image: url("../../icons/stack.svg#icon-youtube");
}

.main-navigation__burger-social-link--instagram {
  mask-image: url("../../icons/stack.svg#icon-instagram");
}

.main-navigation__burger-social-link--facebook {
  mask-image: url("../../icons/stack.svg#icon-facebook");
}

.main-navigation__burger-social-link--twiter {
  mask-image: url("../../icons/stack.svg#icon-twiter");
}

.main-navigation__burger-social-link--pinteres {
  mask-image: url("../../icons/stack.svg#icon-pinteres");
}

.main-navigation__burger-social-item:hover {
  border-color: $color-gold;
}

.main-navigation__burger-social-link:hover {
  background-color: $color-gold;
}

.main-navigation__burger-social-item:active {
  border-color: $color-gold-light;
}

.main-navigation__burger-social-link:active {
  background-color: $color-gold-light;
}
