.main-header {
  width: 100%;
  position: relative;
  color: $color-white;
  background-color: $color-black;
}

.main-header__wrapper {
  @include respond-to ("desktop") {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.main-header__navigation {
  display: flex;
  align-items: center;
  // gap: 60px;
  gap: clamp(10px, 2.8vw, 60px);
}

.main-header__button {
  display: none;

  @include respond-to("desktop") {
    margin-left: auto;
    display: block;
  }
}
