.parallax__wrapper {
  height: 400px;
  background-image: url("../../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-white;

  @include respond-to ("tablet") {
    height: 300px;
  }
}
