.player {
  position: relative;
}

.player__video {
  width: 100%;
  aspect-ratio: 1440 / 650;
  display: block;
  object-fit: cover;
  object-position: center;
}

.player__toggle-play {
  padding: 0;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;

  @include respond-to ("desktop") {
    top: 43.5%;

    width: 152px;
    height: 152px;
  }

  @include respond-to ("tablet") {
    top: 42.5%;

    width: 80px;
    height: 80px;
  }

  @include respond-to ("mobile") {
    top: 38.5%;

    width: 50px;
    height: 50px;
  }
}

.player__toggle-play::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;

  background-color: $color-white;
  mask-image: url("../../icons/stack.svg#btn-play-video-player");
  mask-repeat: no-repeat;
  mask-position: 60% 50%;
  mask-size: 91px;

  @include respond-to ("desktop") {
    mask-size: 63px 83px;
  }

  @include respond-to ("tablet") {
    mask-size: 33px 44px;
  }

  @include respond-to ("mobile") {
    mask-size: 20px 27px;
  }
}

.player__toggle-play::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid $color-white;

  @include respond-to ("desktop") {
    width: 152px;
    height: 152px;
  }

  @include respond-to ("tablet") {
    width: 80px;
    height: 80px;
    border-width: 4px;
  }

  @include respond-to ("mobile") {
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
}

.player__toggle-play:hover::after {
  background-color: $color-gold;
}

.player__toggle-play:active::after {
  background-color: $color-gold-dark;
}

.player__toggle-play:hover::before {
  border-color: $color-gold;
}

.player__toggle-play:active::before {
  border-color: $color-gold-dark;
}

.player__controls {
  padding: 25px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between; // потом посмотреть а надо ли здесь так делать
  gap: 50px;
  align-items: center;
  background-color: $color-black;

  @include respond-to ("desktop") {
    padding: 15px 40px;
    justify-content: flex-start; // и если выше не надо убрать и здесь
    gap: 30px;
  }

  @include respond-to ("tablet") {
    position: relative;
    padding: 15px 32px 12px 30px;
    gap: 35px;
  }

  @include respond-to ("mobile") {
    padding: 21px 20px 16px;
    gap: 30px;
  }
}

.player__btn-play {
  margin: 0;
  padding: 0;
  border: none;

  width: 23px;
  height: 31px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-play-video-panel-player");
  mask-position: center;
  mask-size: auto;
  mask-repeat: no-repeat;

  cursor: pointer;

  @include respond-to ("desktop") {
    height: 30px;
  }

  @include respond-to ("tablet") {
    height: 29px;
  }

  @include respond-to ("mobile") {
    width: 14px;
    height: 18px;
  }
}

.player__progress {
  flex-grow: 1;
  width: 100%;
  max-width: 929px;
  display: flex;
  align-items: center;

  @include respond-to ("desktop") {
    max-width: 564px;
  }

  @include respond-to ("tablet") {
    position: absolute;
    top: -3px;
    left: 0;
    max-width: 728px;
  }

  @include respond-to ("mobile") {
    top: 1px;
    left: 0;
    max-width: 380px;
  }
}

.player__progress-field {
  --progress-cutoff-video: 53%;

  margin: 0;
  width: 100%;
  height: 8px;
  appearance: none;
  background:
    linear-gradient(
      to right,
      #710707 0%,
      #710707 var(--progress-cutoff-video),
      #c4c4c4 var(--progress-cutoff-video),
      #c4c4c4 100%
    );
  outline: none;

  @include respond-to ("desktop") {
    height: 5px;
  }

  @include respond-to ("mobile") {
    height: 4px;
  }
}

/* ползунок (кружок) */
.player__progress-field::-webkit-slider-thumb {
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
  border: none;

  @include respond-to ("desktop") {
    width: 13px;
    height: 13px;
  }

  @include respond-to ("mobile") {
    width: 10px;
    height: 10px;
  }
}

.player__progress-field::-moz-range-progress {
  margin: 0;
  outline: none;

  @include respond-to ("desktop") {
    height: 5px;
  }
}

.player__btn-volume {
  margin: 0;
  padding: 0;
  border: none;

  width: 38px;
  height: 31px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-volume-video-panel-player");
  mask-position: center;
  mask-repeat: no-repeat;

  cursor: pointer;

  @include respond-to ("desktop") {
    width: 26px;
    height: 20px;
  }

  @include respond-to ("mobile") {
    width: 18px;
    height: 14px;
  }
}

.player__range-volume {
  flex-grow: 1;
  max-width: 155px;
  display: flex;
  align-items: center;

  @include respond-to ("tablet") {
    max-width: 486px;
  }

  @include respond-to ("mobile") {
    max-width: 200px;
  }
}

.player__range-volume-field {
  --progress-cutoff-volume: 43%;

  margin: 0;
  width: 100%;
  height: 8px;
  appearance: none;
  background:
    linear-gradient(
      to right,
      #710707 0%,
      #710707 var(--progress-cutoff-volume),
      #c4c4c4 var(--progress-cutoff-volume),
      #c4c4c4 100%
    );
  outline: none;

  @include respond-to ("desktop") {
    height: 5px;
  }

  @include respond-to ("mobile") {
    height: 4px;
  }
}

/* ползунок (кружок) */
.player__range-volume-field::-webkit-slider-thumb {
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
  border: none;

  @include respond-to ("desktop") {
    width: 13px;
    height: 13px;
  }

  @include respond-to ("mobile") {
    width: 10px;
    height: 10px;
  }
}

.player__range-volume-field::-moz-range-progress {
  background-color: #710707;
  height: 8px;
}

.player__progress-field::-webkit-slider-thumb:hover,
.player__range-volume-field::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: $color-gray-light;
}

.player__progress-field::-webkit-slider-thumb:active,
.player__range-volume-field::-webkit-slider-thumb:active {
  transform: scale(1.2);
  background-color: $color-gray-light;
}

.player__btn-full-screen {
  margin: 0;
  padding: 0;
  border: none;

  width: 35px;
  height: 35px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-full-screen-video-panel-player");
  mask-position: center;
  mask-repeat: no-repeat;

  cursor: pointer;

  @include respond-to ("desktop") {
    width: 26px;
    height: 26px;
  }

  @include respond-to ("tablet") {
    width: 27px;
    height: 27px;
  }

  @include respond-to ("mobile") {
    width: 18px;
    height: 18px;
  }
}

.player__btn-play:hover,
.player__btn-volume:hover,
.player__btn-full-screen:hover {
  background-color: #989898;
}

// пока так, потом навешу модификатор и буду менять через JS

.player__btn-play:active {
  mask-image: url("../../icons/stack.svg#pause");
}

.player__btn-volume:active {
  mask-image: url("../../icons/stack.svg#mute");
}

.player__btn-full-screen:active {
  mask-image: url("../../icons/stack.svg#fullscreen-exit");
}


// Welcome to the Louvre - главное видео
// Exposition - Le Corps et l'Ame. De Donatello a Michel-Ange. Sculpures italiennes de la Renaissance - первое видео
// Au Louvre! La Venus de Milo - второе видео
// Promenade dans les collections mesopotamiennes avec Ariane Thomas - третье видео
// Petits contens de Printemps - La ruse du Renard - четвертое видео
