.player {
  position: relative;
}

.player__video {
  width: 100%;
  aspect-ratio: 1440 / 650;
  display: block;
  object-fit: cover;
  object-position: center;
}

.player__toggle-play {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.player__toggle-play::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;

  background-color: $color-white;
  mask-image: url("../../icons/stack.svg#btn-play-video-player");
  mask-repeat: no-repeat;
  mask-position: 60% 50%;
  mask-size: 91px;
}

.player__toggle-play::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid $color-white;
}

.player__toggle-play:hover::after {
  background-color: $color-gold;
}

.player__toggle-play:active::after {
  background-color: $color-gold-dark;
}

.player__toggle-play:hover::before {
  border-color: $color-gold;
}

.player__toggle-play:active::before {
  border-color: $color-gold-dark;
}

.player__controls {
  padding: 25px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  background-color: $color-black;
}

.player__btn-play {
  margin: 0;
  padding: 0;
  border: none;

  width: 23px;
  height: 31px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-play-video-panel-player");
  mask-position: center;
  mask-repeat: no-repeat;

  cursor: pointer;
}

.player__progress {
  flex-grow: 1;
  max-width: 929px;
  display: flex;
  align-items: center;
}

.player__progress-field {
  margin: 0;
  width: 100%;
  height: 8px;
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  background: linear-gradient(to right, #710707 0%, #710707 53.5%, #c4c4c4 53.5%, #c4c4c4 100%);
  outline: none;
}

/* ползунок (кружок) */
.player__progress-field::-webkit-slider-thumb {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
  border: none;
  margin-left: 7px;

  // transition: transform 0.1s ease-in-out;
}

.player__progress-field::-webkit-slider-thumb:hover,
.player__range-volume-field::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: $color-gray-light;
}

.player__progress-field::-webkit-slider-thumb:active,
.player__range-volume-field::-webkit-slider-thumb:active {
  transform: scale(1.2);
  background-color: $color-gray-light;
}

.player__progress-field::-moz-range-progress {
  background-color: #710707;
  height: 8px;
}

.player__btn-volume {
  margin: 0;
  padding: 0;
  border: none;

  width: 38px;
  height: 31px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-volume-video-panel-player");
  mask-position: center;
  mask-repeat: no-repeat;

  cursor: pointer;
}

.player__range-volume {
  flex-grow: 1;
  max-width: 155px;
  display: flex;
  align-items: center;
}

.player__range-volume-field {
  margin: 0;
  width: 100%;
  height: 8px;
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  background: linear-gradient(to right, #710707 0%, #710707 43.2%, #c4c4c4 43.2%, #c4c4c4 100%);
  outline: none;
}

/* ползунок (кружок) */
.player__range-volume-field::-webkit-slider-thumb {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-white;
  cursor: pointer;
  border: none;
}

// .player__range-volume-field::-webkit-slider-thumb:hover {
//   transform: scale(1.2);
//   background-color: $color-gold;
// }

.player__range-volume-field::-moz-range-progress {
  background-color: #710707;
  height: 8px;
}

.player__btn-full-screen {
  margin: 0;
  padding: 0;
  border: none;

  width: 35px;
  height: 35px;

  background-color: #b3b3b3;
  mask-image: url("../../icons/stack.svg#btn-full-screen-video-panel-player");
  mask-position: center;
  mask-repeat: no-repeat;

  cursor: pointer;
}

.player__btn-play:hover,
.player__btn-volume:hover,
.player__btn-full-screen:hover {
  background-color: #989898;
}

// пока так, потом навешу модификатор и буду менять через JS

.player__btn-play:active {
  mask-image: url("../../icons/stack.svg#pause");
}

.player__btn-volume:active {
  mask-image: url("../../icons/stack.svg#mute");
}

.player__btn-full-screen:active {
  mask-image: url("../../icons/stack.svg#fullscreen-exit");
}
