// .slider-explore {}

.slider-explore__slider-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.slider-explore__slider-inner--before {
  position: absolute;
  width: 61.11%;
  z-index: 1;

  @include respond-to ("tablet") {
    width: clamp(230px, calc(230px + (440 - 230) * (100vw - 420px) / (768 - 420)), 440px);
    overflow: hidden;
  }

  @include respond-to ("mobile") {
    width: 230px;
  }
}

.slider-explore__picture {
  width: 720px;
  height: 700px;
  display: block;

  @include respond-to ("tablet") {
    width: clamp(380px, calc(380px + (720 - 380) * (100vw - 420px) / (768 - 420)), 720px);
    height: clamp(368px, calc(368px + (705 - 368) * (100vw - 420px) / (768 - 420)), 705px);
  }

  @include respond-to ("mobile") {
    width: 380px;
    height: 368px;
  }
}

.slider-explore__slider-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 61.11%;
  width: 40px;
  transform: translateX(-50%);
  z-index: 1;

  background:
    linear-gradient(
      to bottom,
      $color-white 0%,
      $color-white calc(50.5% - 20px),
      transparent calc(50% - 20px),
      transparent calc(50% + 20px),
      $color-white calc(50% + 20px),
      $color-white 100%
    )
    no-repeat center / 4px 100%;

  @include respond-to ("tablet") {
    left: clamp(230px, calc(230px + (440 - 230) * (100vw - 420px) / (768 - 420)), 440px);

    width: clamp(20px, calc(20px + (40 - 20) * (100vw - 420px) / (768 - 420)), 40px);
    height: clamp(368px, calc(368px + (705 - 368) * (100vw - 420px) / (768 - 420)), 705px);

    background:
      linear-gradient(
        to bottom,
        $color-white 0%,
        $color-white calc(51.5% - 20px),
        transparent calc(51.5% - 20px),
        transparent calc(51.5% + 20px),
        $color-white calc(51.5% + 20px),
        $color-white 100%
      )
      no-repeat center / 4px 100%;
  }

  @include respond-to ("mobile") {
    left: 230px;
    width: 20px;
    background:
      linear-gradient(
        to bottom,
        $color-white 0%,
        $color-white calc(51.9% - 10px),
        transparent calc(51.1% - 10px),
        transparent calc(51.1% + 10px),
        $color-white calc(51.1% + 10px),
        $color-white 100%
      )
      no-repeat center / 2px 100%;
  }
}

.slider-explore__slider-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: 4px solid $color-white;
  border-radius: 50%;

  // box-sizing: border-box;

  @include respond-to ("tablet") {
    top: 51.5%;
  }

  @include respond-to ("mobile") {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }
}

.slider-explore__slider-toggle:hover {
  background:
    linear-gradient(
      to bottom,
      $color-gold 0%,
      $color-gold calc(50.5% - 20px),
      transparent calc(50% - 20px),
      transparent calc(50% + 20px),
      $color-gold calc(50% + 20px),
      $color-gold 100%
    )
    no-repeat center / 4px 100%;

  @include respond-to ("tablet") {
    background:
      linear-gradient(
        to bottom,
        $color-gold 0%,
        $color-gold calc(51.5% - 20px),
        transparent calc(51.5% - 20px),
        transparent calc(51.5% + 20px),
        $color-gold calc(51.5% + 20px),
        $color-gold 100%
      )
      no-repeat center / 4px 100%;
  }

  @include respond-to ("mobile") {
    background:
      linear-gradient(
        to bottom,
        $color-gold 0%,
        $color-gold calc(51.9% - 10px),
        transparent calc(51.1% - 10px),
        transparent calc(51.1% + 10px),
        $color-gold calc(51.1% + 10px),
        $color-gold 100%
      )
      no-repeat center / 2px 100%;
  }
}

.slider-explore__slider-toggle:active {
  background:
    linear-gradient(
      to bottom,
      $color-gold-dark 0%,
      $color-gold-dark calc(50.5% - 20px),
      transparent calc(50% - 20px),
      transparent calc(50% + 20px),
      $color-gold-dark calc(50% + 20px),
      $color-gold-dark 100%
    )
    no-repeat center / 4px 100%;

  @include respond-to ("tablet") {
    background:
      linear-gradient(
        to bottom,
        $color-gold-dark 0%,
        $color-gold-dark calc(51.5% - 20px),
        transparent calc(51.5% - 20px),
        transparent calc(51.5% + 20px),
        $color-gold-dark calc(51.5% + 20px),
        $color-gold-dark 100%
      )
      no-repeat center / 4px 100%;
  }

  @include respond-to ("mobile") {
    background:
      linear-gradient(
        to bottom,
        $color-gold-dark 0%,
        $color-gold-dark calc(51.9% - 10px),
        transparent calc(51.1% - 10px),
        transparent calc(51.1% + 10px),
        $color-gold-dark calc(51.1% + 10px),
        $color-gold-dark 100%
      )
      no-repeat center / 2px 100%;
  }
}

.slider-explore__slider-toggle:hover::before {
  border-color: $color-gold;
}

.slider-explore__slider-toggle:active::before {
  border-color: $color-gold-dark;
}
