.slider {
  position: relative;
  padding-bottom: 60px;

  @media (max-width: 880px) {
    margin: 0 auto;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include respond-to ("tablet") {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  // @include respond-to ("mobile") {
  //   justify-content: start;
  // }
}

.slider__window {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider__window::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);

  @media (max-width: 880px) {
    display: none;
  }

  // @include respond-to ("tablet") {
  //   display: none;
  // }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  width: 100%;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: auto;
}

.slider__container-toggle {
  position: absolute;
  bottom: 1px;
  right: 0;
  z-index: 3;
  width: clamp(600px, calc(700px - (700 - 600) * (100vw - 1024px) / (1920 - 1024)), 700px);

  padding:
    36px
    75px
    36px
    clamp(74px, calc(224px - (224 - 74) * (100vw - 1024px) / (1920 - 1024)), 224px);

  display: flex;
  background-color: $color-black;

  @include respond-to ("desktop") {
    width: 700px;
    padding: 35px 75px 36px 224px;
  }

  @media (max-width: 880px) {
    position: static;
    padding:
      clamp(26px, calc(26px + (35 - 26) * (100vw - 768px) / (880 - 768)), 35px)
      clamp(75px, calc(150px - (150 - 75) * (100vw - 768px) / (880 - 768)), 150px)
      clamp(26px, calc(26px + (36 - 26) * (100vw - 768px) / (880 - 768)), 36px)
      clamp(150px, calc(150px + (224 - 150) * (100vw - 768px) / (880 - 768)), 224px);
  }

  @include respond-to ("tablet") {
    position: static;
    // bottom: -39px;
    // width: 728px;
    padding: 26px 150px;
  }

  @include respond-to ("mobile") {
    width: 380px;
    padding: 16px 75px;
  }
}

.slider__container-number {
  margin-right: 56px;
  display: flex;
  gap: 10px;
  align-items: center;

  background-color: inherit;

  font-weight: 400;
  font-size: 22px;
  line-height: 182%;
  text-transform: uppercase;

  cursor: default;

  @include respond-to ("desktop") {
    margin-right: 45px;

    font-size: 20px;
    line-height: 200%;
  }

  @include respond-to ("mobile") {
    margin-right: 25px;
    gap: 5px;
    font-size: 16px;
    line-height: 250%;
  }
}

// .slider__current-count {}

// .slider__separator-number {}

// .slider__total-count {}

.slider__pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-right: 34px;
  display: flex;
  align-items: center;
  gap: 9px;

  background-color: inherit;

  @include respond-to ("desktop") {
    margin-right: 28px;
    gap: 17px;
  }

  @include respond-to ("tablet") {
    margin-right: 38px;
  }

  @include respond-to ("mobile") {
    margin-right: 20px;
    gap: 10px;
  }
}

.slider__pagination-item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  @include respond-to ("desktop") {
    width: 20px;
    height: 20px;
  }

  @include respond-to ("mobile") {
    width: 7px;
    height: 7px;
  }
}

.slider__pagination-btn {
  margin: 1px 0 0;
  padding: 0;
  border: none;

  width: 16px;
  height: 16px;

  background-color: $color-white;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  @include respond-to ("desktop") {
    margin: 2px 0 0 1px;

    width: 12px;
    height: 12px;
  }

  @include respond-to ("mobile") {
    margin: 1px 0 0;
    width: 7px;
    height: 7px;
  }
}

.slider__pagination-btn--current {
  background-color: $color-gold-light;
}

.slider__pagination-item:hover .slider__pagination-btn {
  background-color: $color-gold-dark;
}

.slider__container-arrow {
  display: flex;
  align-items: center;
  // gap: 20px;

  background-color: inherit;

  @include respond-to ("tablet") {
    gap: 10px;
  }

  @include respond-to ("mobile") {
    gap: 5px;
  }
}

.slider__arrow-btn {
  margin: 0;
  padding: 20px 10px;
  border: none;

  background-color: transparent;

  cursor: pointer;

  @include respond-to ("tablet") {
    padding: 20px 10px 20px 0;
  }

  @include respond-to ("mobile") {
    padding: 20px 0;
  }
}

.slider__arrow-btn::before {
  content: "";
  display: block;
  width: 30px;
  height: 8px;
  background-color: $color-white;
  transition: background-color 0.3s ease-in-out;

  mask-size: 30px 8px;
  mask-position: center;
  mask-repeat: no-repeat;

  @include respond-to ("mobile") {
    mask-size: 20px 8px;
  }
}

.slider__arrow-left::before {
  mask-image: url("../../icons/stack.svg#arrow-left-slider-welcome");
}

.slider__arrow-right::before {
  mask-image: url("../../icons/stack.svg#arrow-right-slider-welcome");
}

.slider__arrow-btn:hover::before {
  background-color: $color-gold-dark;
}
