.ticket {
  padding-top: 75px;
  padding-bottom: 75px;
  color: $color-black;
  background-color: $color-white;

  @include respond-to ("desktop") {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include respond-to ("tablet") {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ticket__title {
  position: relative;
  margin-bottom: 102px;
  color: $color-gold;

  @include respond-to ("desktop") {
    margin-bottom: 83px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 63px;
  }
}

.ticket__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -26px;
  left: 0;
  background-color: $color-red-dark;

  @include respond-to ("desktop") {
    bottom: -20px;
  }

  @include respond-to ("tablet") {
    bottom: -23px;
  }
}

.ticket__inner {
  display: flex;

  @media (max-width: 678px) {
    flex-direction: column;
    align-items: center;
  }

  @include respond-to ("mobile") {
    flex-direction: column;
    align-items: center;
  }
}

.ticket__picture-container {
  margin-right: 60px;

  @include respond-to ("desktop") {
    margin-right: clamp(60px, calc(60px + (80 - 60) * (100vw - 768px) / (1024 - 768)), 80px);
  }

  @include respond-to ("tablet") {
    // margin-right: 60px;
    margin-right: clamp(0px, calc(0px + (60 - 0) * (100vw - 420px) / (768 - 420)), 60px);
    // Постепенно вводим нижний отступ вместо правого
    margin-bottom: clamp(0px, calc(40px - (40 - 0) * (100vw - 320px) / (420 - 320)), 40px);
  }

  @media (max-width: 709px) {
    margin-right: auto;
  }

  @media (max-width: 678px) {
    margin: 0;
    margin-bottom: 40px;
  }

  // @include respond-to ("mobile") {
  //   margin: 0;
  //   margin-bottom: 40px;
  // }
}

.ticket__picture {
  width: 100%;
  max-width: 720px;
  height: auto;
  display: block;

  @include respond-to ("desktop") {
    max-width: 700px;
  }

  @include respond-to ("tablet") {
    max-width: 444px;
  }
}

.ticket__filter-group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.ticket__filter-group-type {
  margin-right: 240px;

  @media (max-width: 1440px) {
    display: none;
  }
}

.ticket__filter-group-title {
  padding: 0;
  margin-bottom: 50px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 28px;
}

.ticket__filter-group-title--amount {
  margin-bottom: 25px;
  text-align: right;

  @include respond-to ("desktop") {
    margin-bottom: 28px;
    text-align: left;
  }

  @include respond-to ("tablet") {
    margin-bottom: 37px;
  }

  @media (max-width: 678px) {
    margin-bottom: 28px;
    font-size: 22px;
    text-align: center;
  }

  @include respond-to("mobile") {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }
}

.ticket__filter-group-list-type,
.ticket__filter-group-list-amount {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ticket__filter-group-item-type {
  margin-bottom: 25px;
}

.ticket__filter-group-item-type:last-child {
  text-transform: capitalize;
}

.ticket__filter-group-control {
  position: relative;
  padding-left: 40px;
  width: 270px;
  display: inline-block;
  font-weight: 300;
  font-size: 22px;
  cursor: pointer;
}

.ticket__filter-group-control-mark {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.ticket__filter-group-input[type="radio"] + .ticket__filter-group-control-mark {
  border-radius: 50%;
  border: 2px solid $color-black;
}

.ticket__filter-group-input[type="radio"]:checked + .ticket__filter-group-control-mark::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-black;
}

.ticket__filter-group-control-label {
  display: inline-block;
  width: 230px;
  overflow-wrap: break-word;
}

.ticket__filter-group-amount {
  margin-left: auto;

  @include respond-to ("desktop") {
    margin-left: 0;
  }
}

.ticket__filter-group-list-amount {
  margin-bottom: 50px;

  @include respond-to ("desktop") {
    margin-bottom: 25px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 35px;
  }

  @include respond-to ("mobile") {
    margin-bottom: 40px;
  }
}

.ticket__filter-group-item-amount {
  margin-bottom: 10px;

  font-weight: 300;
  font-size: 22px;

  @include respond-to ("desktop") {
    margin-bottom: 28px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 24px;
  }

  @include respond-to ("mobile") {
    margin-bottom: 21px;
  }
}

.ticket__filter-group-item-amount:last-child {
  margin-bottom: 0;
}

.ticket__control-amount {
  display: block;
  margin-bottom: 14px;

  @include respond-to ("desktop") {
    margin-bottom: 10px;
  }

  @include respond-to ("mobile") {
    margin-bottom: 14px;
    font-size: 16px;
  }
}

.ticket__basic-wrapper {
  display: flex;
  outline: 3px solid $color-black;
  outline-offset: -3px;
}

.ticket__decrease {
  margin: 0;
  padding: 0;
  border: none;

  width: 50px;
  height: 50px;


  background-color: $color-black;
  mask-image: url("../../icons/stack.svg#ticket-minus");
  mask-position: left 15px top 50%;
  mask-size: 16px 37px;
  mask-repeat: no-repeat;

  cursor: pointer;

  @include respond-to ("desktop") {
    mask-position: left 17px top 50%;
  }
}

.ticket__input-basic-amount {
  margin: 0;
  padding: 12px 19px;
  border: none;

  width: 50px;
  font-family: $basic-family;
  font-weight: 300;
  font-size: 22px;
  text-align: center;

  @include respond-to ("desktop") {
    width: 75px;
  }
}

.ticket__increase {
  margin: 0;
  padding: 0;
  border: none;

  width: 50px;
  height: 50px;


  background-color: $color-black;
  mask-image: url("../../icons/stack.svg#ticket-plus");
  mask-position: left 18px top 50%;
  mask-size: 16px 36px;
  mask-repeat: no-repeat;

  cursor: pointer;

  @include respond-to ("desktop") {
    mask-position: left 16px top 50%;
  }
}

.ticket__sum-wrapper {
  margin-bottom: 52px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;

  @include respond-to ("desktop") {
    margin-bottom: 68px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 40px;
  }

  @media (max-width: 678px) {
    font-size: 22px;
    text-align: center;
  }

  @include respond-to ("mobile") {
    font-size: 16px;
    text-align: center;
  }
}

// .ticket__sum-text {}

// .ticket__sun-number {}

.ticket__toggle {
  margin: 0;
  padding: 0;
  border: none;

  position: absolute;
  top: 334px;
  left: -25px;
  padding-right: 37px;
  padding-left: 37px;
  width: 175px;
  height: 50px;

  font-family: $basic-family;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: capitalize;
  color: $color-white;
  background-color: $color-black;
  border-radius: 2px;

  cursor: pointer;

  @include respond-to ("desktop") {
    position: static;
  }

  @include respond-to ("mobile") {
    font-size: 16px;
    line-height: 0%;
    letter-spacing: 0.13em;
  }
}

.ticket__toggle:hover {
  color: #000000;
  background-color: $color-gold;
}

.ticket__toggle:active {
  background-color: $color-gold-dark;
}
