.video-slider {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;

  @include respond-to ("desktop") {
    max-width: 984px;
  }
}

.video-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 42px;
  margin-bottom: 40px;

  @include respond-to ("display") {
    gap: 41px;
  }

  @include respond-to ("tablet") {
    gap: 20px;
    margin-bottom: 20px;
  }

  @include respond-to ("mobile") {
    margin-bottom: 39px;
  }
}

.video-slider__item {
  position: relative;
}

.video-slider__video {
  display: block;
  width: clamp(300px, calc(300px + (452 - 300) * (100vw - 1024px) / (1920 - 1024)), 452px);
  height: clamp(170px, calc(170px + (254 - 170) * (100vw - 1024px) / (1920 - 1024)), 254px);

  @include respond-to ("desktop") {
    width: 300px;
    height: 170px;
  }

  @include respond-to ("tablet") {
    width: 354px;
    height: 199px;
  }

  @include respond-to ("mobile") {
    width: 180px;
    height: 101px;
  }
}

.video-slider__container-item-title {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: auto;

  @include respond-to ("desktop") {
    top: 12px;
  }
}

.video-slider__item-title {
  margin: 0;
  margin-left: 60px;
  max-width: 329px;

  font-size: 18px;
  line-height: 214%;
  color: $color-white;

  white-space: nowrap;      /* Запрещаю перенос текста на новую строку */
  overflow: hidden;         /* Прячу всё, что выходит за пределы блока */
  text-overflow: ellipsis;  /* Добавляю три точки в конце */

  @include respond-to ("desktop") {
    max-width: 188px;
    margin-left: 55px;

    line-height: 211%;
  }
}

.video-slider__container-item-title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 10px;

  background-image: url("../../icons/stack.svg#video-slider-logo");
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  @include respond-to ("mobile") {
    top: -2px;
  }
}

.video-slider__container-item-title::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  top: 50%;
  right: 36px;
  transform: translateY(-50%);

  background-color: $color-white;
  mask-image: url("../../icons/stack.svg#video-slider-points");
  mask-position: center;
  mask-size: 4px 16px;
  mask-repeat: no-repeat;

  @include respond-to ("mobile") {
    display: none;
  }
}

.video-slider__item-btn {
  position: absolute;
  width: 68px;
  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(33, 33, 33, 0.8);

  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 15px;

  transition: background-color 0.3s ease;
}

.video-slider__item-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  mask-image: url("../../icons/stack.svg#video-slider-btn-play");
  mask-position: center;
  mask-size: 18px 21px;
  mask-repeat: no-repeat;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-slider__item-btn:hover {
  background-color: rgba(33, 33, 33, 0.6);
}

.video-slider__item-btn:hover::before {
  background-color: $color-gold-light;
}

.video-slider__item-btn:active {
  background-color: rgba(33, 33, 33, 0.4);
}

.video-slider__item-btn:active::before {
  background-color: $color-gold-dark;
}

.video-slider__pagination {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 200px;
  height: 12px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include respond-to ("mobile") {
    width: 174px;
    height: 8px;
    padding-bottom: 2px;
  }
}

.video-slider__pagination-item-arrow {
  margin: 0;
  padding: 0;
  border: none;

  width: 10px;
  height: 12px;
}

.video-slider__pagination-item-arrow--left {
  margin-right: auto;

  background-color: $color-gray-medium;
  mask-image: url("../../icons/stack.svg#double-arrow-left-video-player");
  mask-size: 10px, 12px;
  mask-position: center;
  mask-repeat: no-repeat;

  @include respond-to ("mobile") {
    width: 10px;
    height: 8px;
    mask-size: 7px 8px;
  }
}

.video-slider__pagination-item-arrow--right {
  margin-left: auto;

  background-color: $color-gray-medium;
  mask-image: url("../../icons/stack.svg#double-arrow-left-video-player");
  mask-size: 10px, 12px;
  mask-position: center;
  mask-repeat: no-repeat;

  rotate: 180deg;

  @include respond-to ("mobile") {
    width: 10px;
    height: 8px;
    mask-size: 7px 8px;
  }
}

.video-slider__pagination-item-btn {
  margin: 0;
  padding: 0;
  border: none;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-gray-medium;

  @include respond-to ("tablet") {
    width: 10px;
    height: 10px;
  }

  @include respond-to ("mobile") {
    width: 8px;
    height: 8px;
  }
}

.video-slider__pagination-item-btn--current {
  background-color: $color-gray-dark;
}

.video-slider__pagination-item-btn:hover,
.video-slider__pagination-item-arrow:hover {
  background-color: $color-red-dark;
}
