.visiting {
  padding-top: 75px;
  padding-bottom: 73px;
  color: $color-black;
  background-color: $color-white;

  @include respond-to ("desktop") {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include respond-to ("tablet") {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.visiting__title {
  position: relative;
  margin-bottom: 103px;
  color: $color-gold;

  @include respond-to ("desktop") {
    margin-bottom: 83px;
  }

  @include respond-to ("tablet") {
    margin-bottom: 63px;
  }
}

.visiting__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -27px;
  left: 0;
  background-color: $color-red-dark;

  @include respond-to ("desktop") {
    bottom: -20px;
  }
}

.visiting__list-cards {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 75px 60px;

  @include respond-to ("desktop") {
    padding: 0 108px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 60px 108px;
  }

  @include respond-to ("tablet") {
    padding: 0 56px;
    gap: 40px 56px;
  }
}

// .visiting__item-card {}
