.welcome {
  font-weight: 300;
  background-color: $color-black;

  // @include respond-to ("tablet") {
  //   padding-bottom: 0;
  // }
}

.welcome__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;

  @media (max-width: 880px) {
    display: block;
  }

  // @include respond-to ("tablet") {
  //   // grid-template-columns: 1fr;
  //   // justify-items: center;
  //   display: block;
  // }

  @include respond-to ("mobile") {
    padding-top: 6px;
  }
}

.welcome__title {
  margin: 0;
  padding-top: clamp(50px, calc(50px + (150 - 50) * ((100vw - 1024px) / (1920 - 1024))), 150px);
  width: clamp(396px, calc(396px + (598 - 396) * ((100vw - 1024px) / (1920 - 1024))), 598px);

  grid-area: 1 / 1 / 2 / 2;

  color: $color-white;

  @include respond-to ("desktop") {
    padding-top: 50px;
    width: 396px;

    font-size: 50px;
    line-height: 180%;
    letter-spacing: 0.1em;
  }

  @media (max-width: 880px) {
    margin: 0 auto;
    padding-top: clamp(0px, calc(0px + (50 - 0) * (100vw - 768px) / (880 - 768)), 50px);
    padding-bottom: clamp(0px, calc(25px - (25 - 0) * (100vw - 768px) / (880 - 768)), 25px);
    font-size: clamp(39px, calc(39px + (50 - 39) * (100vw - 768px) / (880 - 768)), 50px);
    text-align: center;
    line-height: 166%;
    letter-spacing: 0.12em;
  }

  @include respond-to ("tablet") {
    // grid-area: 1 / 1 / 2 / 2;
    // margin: 0 auto;
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 25px;
    font-size: 39px;
    line-height: 146%;
    letter-spacing: 0.13em;
    // text-align: center;
  }

  @include respond-to ("mobile") {
    padding-left: 66px;
    padding-right: 86px;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: 0.18em;
  }
}

.welcome__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 74px;
  max-width: 445px;

  grid-area: 2 / 1 / 3 / 2;

  font-size: 28px;
  letter-spacing: 0.07em;

  @include respond-to ("desktop") {
    padding-bottom: 50px;

    font-size: 24px;
    letter-spacing: 0.08em;
  }

  @media (max-width: 880px) {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.09em;
    font-size: 22px;
  }

  @include respond-to ("tablet") {
    // grid-area: 2 / 1 / 3 / 2;
    // margin: 0 auto;
    padding-top: 0;
    padding-bottom: 49px;

    font-size: 20px;
    // text-align: center;
    letter-spacing: 0.1em;
  }

  @include respond-to ("mobile") {
    padding-bottom: 50px;

    font-size: 16px;
    letter-spacing: 0.13em;
  }
}

.welcome__link {
  grid-area: 3 / 1 / 4 / 2;
  width: 360px;
  padding: 24px 64px;
  display: block;

  place-self: start;

  border-radius: 10px;

  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: $color-white;
  background-color: $color-red-dark;
  transition: background-color 0.3s ease-in-out;

  @include respond-to ("desktop") {
    width: 300px;
    padding: 18px 44px;

    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media (max-width: 880px) {
    display: none;
  }

  // @include respond-to ("tablet") {
  //   display: none;
  // }
}

.welcome__title,
.welcome__text,
.welcome__link {
  z-index: 2;
  position: relative;
}

.welcome__link:hover {
  background-color: $color-gold;
}

.welcome__link:active {
  background-color: $color-gold-dark;
}

.welcome__slider {
  grid-area: 1 / 1 / 4 / 3;
  z-index: 1;

  width: 100%;
  // max-width: 1000px;
  max-width: clamp(700px, calc(700px + (1000 - 700) * ((100vw - 1024px) / (1920 - 1024))), 1000px);
  height: auto;
  justify-self: end;

  @include respond-to ("desktop") {
    max-width: 700px;
  }

  @media (max-width: 880px) {
    max-width: 714px;
  }

  @include respond-to ("tablet") {
    // grid-area: 3 / 1 / 4 / 2;
    max-width: 728px;
  }

  @include respond-to ("mobile") {
    max-width: 380px;
  }
}
